/* details.css */
.detailsPage {
    max-width: 900px;
    padding: 0 20px;
    margin: 170px auto;
}

.detailsPage {
    background-color: #f4f4f4;
    padding: 20px;
}

.wrapper {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.bookImage {
    flex: 1;
    margin-right: 20px;
}

.bookImage img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.bookInfo {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.bookDetails h1,
.bookDetails h3,
.bookDetails h4,
.bookDetails p {
    margin-bottom: 15px;
}

.actionBtn {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    text-align: center;
}

.edit,
.remove {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
    width: 100px;
}

.edit {
    background-color: #12876f;
}

.remove {
    background-color: #d9534f;
}

/* Responsive layout for smaller screens */
@media (max-width: 768px) {
    .wrapper {
        flex-direction: column;
        align-items: center;
    }

    .bookImage {
        margin-right: 0;
        margin-bottom: 20px;
    }
}