.booksList {
    margin-top: 70px;
    list-style: none;
    display: flex;
    /* padding: 0; */
    /* flex-wrap: wrap; */
    gap: 25px;
    /* flex-flow: row wrap; */
    margin-left: 20px;

}

.bookLi {
    display: flex;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 10px;
    padding: 15px;
    width: 300px;
    flex-direction: column;
    justify-content: flex-end;
}

.bookLi h3 {
    font-size: 20px;
    margin-top: 0;
    text-align: center;
}

.bookLi p {
    font-size: 20px;
    margin: 10px 0;
    text-align: center;
}

.bookLi .img .bookLiImg {
    max-width: 100%;
    height: 200px;
    border-radius: 5px;
}

.bookLi .button {
    display: block;
    font-size: 22px;
    margin-top: 30px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #4a90e2;
    padding: 8px 15px;
    border-radius: 5px;
}

.noBooks {
    font-style: italic;
    font-weight: bold;
    color: #150303;
    font-size: 40px;

}

.pageButtons {
    display: flex;
    justify-content: space-evenly;
}

.pageBtn {
    width: 200px;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
    border: none;
    background-color: #0b8d73;
    color: #fff;
    font-size: 20px;
}

.pageBtn:hover {
    cursor: pointer;
    background-color: #00ffcc;
    color: black;
}


@media (max-width: 855px) {
    .booksList {
        flex-wrap: wrap;
    }
}

@media (max-width: 600px) {
    .booksList {
        flex-wrap: wrap;
    }
}